<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="userEditForm" (submit)="onUpdate(editUserForm)" #editUserForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      formControlName="email"
      readonly=true
      type="email"
      placeholder="E-Mail" >
      <mat-error *ngIf="userEditForm.get('email').invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      formControlName="password"
      type="password"
      readonly=true
      placeholder="Password" >
      <mat-error *ngIf="userEditForm.get('password').invalid">Please enter a valida password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="number"
      formControlName="role"
      placeholder="Role">
      <mat-error *ngIf="userEditForm.get('role').invalid">Please enter a valida role.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Update</button>
  </form>
</mat-card>
