<mat-action-row *ngIf="userIsAuthenticated">
  <a mat-button color="primary" *ngIf="role === 21" [routerLink]="['/createUnit']">Create a Unit</a>
</mat-action-row>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="units.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let unit of units">
    <mat-expansion-panel-header>
      Unit Name: {{ unit.unitName }}
    </mat-expansion-panel-header>
    <div class="unit-image">
      <img [src]="unit.imagePath" [alt]="unit.unitName">
    </div>
    <p>Orientation:        {{unit.orientation}}</p>
    <p>Floor:              {{unit.floor}}</p>
    <p>Amount of bedrooms: {{unit.bedroom}}</p>
    <p>Amount of washroom: {{unit.washroom}}</p>
    <p>Area:               {{unit.area}}</p>
    <p>Rent per month:     {{unit.rent}}</p>
    <p>Host Id:            {{unit.hostId}}</p>
    <p>Create Date:            {{unit.createDate}}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" *ngIf="role > 20 && role < 31" [routerLink]="['/editUnit', unit.id]">Edit</a>
      <button mat-button color="warn" *ngIf="role > 20 && role < 31" (click)="onDelete(unit.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalUnits"
  [pageSize]="unitsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="units.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="units.length <= 0  && !isLoading" >No posts added yet!</p>
