<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="units.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let un of units">

    <mat-expansion-panel-header class="tenant-text" *ngIf="un.status === 10">
      Unit Name: {{ un.unitName }}
    </mat-expansion-panel-header>
    <mat-expansion-panel-header class="customer-text" *ngIf="un.status === 20">
        Unit Name: {{ un.unitName }}
    </mat-expansion-panel-header>
    <mat-expansion-panel-header class="info-text" *ngIf="un.status === 0">
        Unit Name: {{ un.unitName }}
    </mat-expansion-panel-header>
    <div class="unit-image">
      <img [src]="un.imagePath" [alt]="un.unitName">
    </div>
    <p>Orientation:        {{un.orientation}}</p>
    <p>Floor:              {{un.floor}}</p>
    <p>Amount of bedrooms: {{un.bedroom}}</p>
    <p>Amount of washroom: {{un.washroom}}</p>
    <p>Area:               {{un.area}}</p>
    <p>Rent per month:     {{un.rent}}</p>
    <p>Host Id:            {{un.hostId}}</p>
    <p>Status:             {{un.status}}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button mat-button color="warn" (click)="onBook(un.id)" *ngIf="role === 11">Book</button>
      <button mat-button color="warn" (click)="onCancel(un.id)" *ngIf="role === 15">Cancel</button>
      <button mat-button color="warn" (click)="onGrant(un.id)" *ngIf="role === 21 && un.status === 20">Grant</button>
      <button mat-button color="warn" (click)="onDecline(un.id)" *ngIf="role === 21 && un.status === 20">Decline</button>
      <button mat-button color="warn" (click)="onClearTenant(un.id)" *ngIf="role === 31 && (un.status > 0 || un.hostId !== null)">ClearTenant</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalUnits"
  [pageSize]="unitsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="units.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="units.length <= 0  && !isLoading" >No posts added yet!</p>
